 ActionBar
    {
    chromeColor: #484848;
    defaultButtonAppearance: normal;
    skinClass: ClassReference("spark.skins.mobile.ActionBarSkin");
    textShadowAlpha: .65;
    textShadowColor: #000000;
    paddingBottom: 1;
    paddingLeft: 0;
    paddingRight: 0;
    paddingTop: 1;
    }

    ActionBar.beveled
    {
    paddingLeft: 7;
    paddingRight: 7;
    titleAlign: center;
    }

    ActionBar #titleDisplay
    {
    color: #FFFFFF;
    fontSize: 28;
    fontWeight: bold;
    }

    ActionBar ButtonBase
    {
    color: #FFFFFF;
    }

    ActionBar Group#navigationGroup Button
    {
    skinClass: ClassReference("spark.skins.mobile.TransparentNavigationButtonSkin");
    }

    ActionBar Group#navigationGroup Button.emphasized
    {
    skinClass: ClassReference("spark.skins.mobile.DefaultTransparentNavigationButtonSkin");
    }

    ActionBar.beveled Group#navigationGroup Button
    {
    fontSize: 18;
    skinClass: ClassReference("spark.skins.mobile.BeveledBackButtonSkin");
    }

    ActionBar.beveled Group#navigationGroup Button.emphasized
    {
    skinClass: ClassReference("spark.skins.mobile.DefaultBeveledBackButtonSkin");
    }

    ActionBar Group#actionGroup Button
    {
    skinClass: ClassReference("spark.skins.mobile.TransparentActionButtonSkin");
    }

    ActionBar Group#actionGroup Button.emphasized
    {
    skinClass: ClassReference("spark.skins.mobile.DefaultTransparentActionButtonSkin");
    }

    ActionBar.beveled Group#actionGroup Button
    {
    fontSize: 18;
    skinClass: ClassReference("spark.skins.mobile.BeveledActionButtonSkin");
    }

    ActionBar.beveled Group#actionGroup Button.emphasized
    {
    skinClass: ClassReference("spark.skins.mobile.DefaultBeveledActionButtonSkin");
    }